.stock_header {
  height: 80px;
  width: 100%;
  background-color: maroon;
}

nav {
  text-align: right;
}

.nav-item {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  line-height: 35px;
  color: aliceblue;
}
